@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: #BEBEBE;
    overflow-x: hidden;
}
.social{
    padding: 5px 0;
    background-color: #333237;
}
.social a{
    display: inline-block;
    color: #ffff;
    margin-right: 10px;
    transition: 0.2s;
}
.social a:hover{
    color: #01003F;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container:after{
    content:'';
    display: block;
    clear: both;
}
header{
    align-items: center;
    justify-content: center;
}
header img{
    width: 4%;
    height: 1%;
    float: left;
    margin: 35px 40px;
}
.wrap{
    text-align: center;
}
.navbar{
    float: right;
    padding: 30px 38px;
    margin: 25px 0px;
}
.navbar ul a{
    text-decoration: none;
    font-size: 20px;
    font-family: inter;
    color: #000;
    margin: 10px;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    border: 0.8px solid #000;
    background-image: url(../asset/Banner.png);
    color: #fff;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 0, 31, 0.55);;
}
.text{
    margin: 50px;
    z-index: 1;
    font-family: inter;
}
.text p{
    margin: 10px 0px;
    font-family: Montserrat;
}
.button a{
    position: absolute;
    padding: 15px 50px;
    margin: -130px 50px;
    z-index: 10;
    border-radius: 30px;
    background-color: #fff;
    transition: .2s;
    color: #000;
    text-decoration: none;
    font-family: inter;
}
.button a:hover{
    background-color: #01003F;
    color: #fff;
}
.abt{
    position: relative;
    margin: 80px 50px;    
    justify-content: center;
    align-items: center;
}
.abt h2{
    text-align: center;
    margin: 3px 5px;
    font-family: inter;
}
.abt p{
    margin: 30px 0px;
    text-align: center;
    font-family: montserrat;
    margin-bottom: 200px;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
    font-family: inter;
	color: #000;
	margin-bottom: 80px;
}
.service {
	background-color: rgba(0, 0, 0, .2);
}
.box {
	color: #000;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
    font-family: montserrat;
}
.loc {
	background-color: rgba(0, 0, 0, .3);
    padding-bottom: 100px;
}
.map iframe{
    margin-top: -60px;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
    font-family: montserrat;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #01003F;
	border-right-color: #01003F;
	border-bottom-color: #01003F;
	animation: puterin .8s linear infinite;
}
.box{
    text-align: center;
}
.btn{
   margin: 140px 60px;
   margin-bottom: 10px;
}
.btn a{
    text-decoration: none;
    font-family: montserrat;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(251, 251, 251, 0);
    padding: 15px 10px;
    transition: 0.3s;
}
.btn a:hover{
    background-color: rgba(0, 0, 0, .2);
    color: #000;
}
.label {
	background-color: #148F77;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
    header{
        align-items: center;
    }
	header img {
        margin-left: 50px;
		float: none;
        height: 8%;
        width: 8%;
	}
	.navbar ul{
        justify-content: center;
        align-items: center;
		float: none;
        margin-right: 13px;
	}
    .navbar ul a{
        margin: 25px;
    }
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
    .map iframe{
        width: 50%;
        height: 50%;
    }
    .button a{
        margin: -90px 50px;
    }
}
@media screen and (max-width: 950px) {
    .map iframe{
        width: 50%;
        height: 50%;
    }
    header img{
        height: 8%;
        width: 8%;
    }
}
@media screen and (max-width: 460px){
    header img{
        margin-left: 5px;
        height: 10%;
        width: 10%;
    }
}
@media screen and (max-width: 416px){
    header img{
        margin-left: 160px;
        height: 15%;
        width: 15%;
    }
    .navbar ul a{
        margin-right: 43px;
    }
}
@media screen and (max-width: 400px){
    header img{
        margin-left: 160px;
        height: 15%;
        width: 15%;
    }
    .navbar ul a{
        margin-right: 39px;
    }
}
@media screen and (max-width: 377px){
    .navbar ul a{
        margin-right: 33px;
    }
}
@media screen and (max-width: 367px){
    .navbar ul a{
        margin-right: 28px;
    }
}