@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0;
    margin: 0;
}
body{
    background: #BEBEBE;
    overflow-x: hidden;
}
.social{
    padding: 5px 0;
    background-color: #333237;
}
.social a{
    font-family: 'Public Sans';
    display: inline-block;
    color: #ffff;
    margin-right: 10px;
    transition: 0.2s;
}
.social a:hover{
    color: #01003F;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container:after{
    content:'';
    display: block;
    clear: both;
}
header{
    align-items: center;
    justify-content: center;
}
header img{
    width: 5%;
    height: 4%;
    float: left;
    margin: 20px 45px;
}
.navbar{
    float: right;
    padding: 40px 38px;
    margin: 15px 0px;
}
.navbar ul a{
    text-decoration: none;
    font-size: 20px;
    font-family: inter;
    color: #000;
    margin: 10px;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    border: 0.8px solid #000;
    background-image: url(../asset/Banner.png);
    color: #fff;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 0, 31, 0.55);;
}
.text{
    margin: 50px;
    z-index: 1;
    font-family: inter;
}
.text p{
    font-family: Montserrat;
}
.button a{
    position: absolute;
    padding: 15px 50px;
    margin: -210px 50px;
    z-index: 10;
    border-radius: 30px;
    background-color: #fff;
    transition: .2s;
    color: #000;
    text-decoration: none;
    font-family: inter;
}
.button a:hover{
    background-color: #01003F;
    color: #fff;
}
.abt{
    position: relative;
    margin: 80px 50px;    
    justify-content: center;
    align-items: center;
}
.abt h2{
    text-align: center;
    margin: 3px 5px;
    font-family: inter;
}
.abt p{
    margin: 20px 0px;
    text-align: center;
    font-family: montserrat;
}